@import './variables';

.about{
  &__container{
    margin-left: 20rem;
    position: relative;
    @include dFlex($alignItems: center, $justifyContent: space-between);
    &--backgorundImage{
      position: absolute;
      left: -150px;
      z-index: -2;
    }
    &--image{
      flex: 0.9;
      margin-right: 1rem;
    }
  }
}