@import './variables';

.navbar{
    @include dFlex($justifyContent:space-between);
    min-height: 90px;
    &__container {
        display: none;
        svg{
            font-size: $sizeText + .4rem;
            cursor: pointer;
        }
    }
    &__icons{
        @include dFlex();
        flex-direction: row;
        li {
            margin-right: 3rem;
            text-decoration: none;
            color: black;
            font-size: $sizeText;
            font-weight: 600;
            list-style: none;
            cursor: pointer;
        }
        &--cart{
            font-size: $sizeText + 0.05rem;
        }
    }
}

@media (max-width: $large){
    .navbar{
        &__icons{
            li {
                margin-right: 1rem;
            }
        }
    }
}

@media (max-width: $medium){
    .navbar{
        &__logo{
            max-width: 140px;
        }
        &__container{
            display: flex;
        }
        &__icons{
            display: none;
        }
    }
}
