@import './variables';

.navbar{
    @include dFlex($justifyContent:space-between);
    min-height: 90px;
    &__container {
        display: none;
        svg{
            font-size: $sizeText + .4rem;
            cursor: pointer;
        }
    }
    &__icons{
        @include dFlex();
        flex-direction: row;
        li {
            margin-right: 3rem;
            text-decoration: none;
            color: black;
            font-size: $sizeText;
            font-weight: 600;
            list-style: none;
        }
        &--cart{
            font-size: $sizeText + 0.05rem;
        }
    }
}

.primary__button{
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: $sizeText;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    &:hover{
        background-color: rgb(234, 234, 234);
    }
}

@media (max-width: $large){
    .navbar{
        &__container{
            li {
                margin-right: 1rem;
            }
        }
    }
    .primary__button{
        font-size: $sizeText - 0.1rem;
    }
}

@media (max-width: $medium){
    .navbar{
        &__logo{
            max-width: 140px;
        }
        &__container{
            display: flex;
        }
        &__icons{
            display: none;
        }
    }
}