@import './variables';

.testimonial{
    &__section{
        margin: 2rem auto;
        background-color: white;
        padding: 1.5rem 2rem;
        @include dFlex();
        max-width: 750px;
        border-radius: 2rem;
        text-align: center;
        flex-direction: column;
        p {
            font-weight: 700;
            color: $gray;
            max-width: 500px;
            font-size: $sizeText;
            margin: 2rem 0rem;
        }
        h2 {
            margin-top: 1.5rem;
        }
        &--stars{
            svg{
                margin: 0rem 0.25rem;
                font-size: $sizeText + 0.4rem;
                color:$orange;
            }
        }
    }
}